@page
@model HemTentan.Areas.Admin.Pages.AddProductModel
@*@{ 
    Layout = "~/Admin/Layout.cshtml";
}*@
@{
    ViewData["Title"] = "Ny Produkt";
}
<h2 class="col-12 px-3">Administration</h2>
<h4 class="col-12 px-3">Ny produkt</h4>
<div asp-validation-summary="ModelOnly"></div>
<form class="col-12" method="POST">
    <div class="form-group">
        <label for="name">Namn</label>
        <input type="text"
               id="name"
               name="name"
               class="form-control"
               placeholder="Ange produkt"
               required
               maxlength="25" />
    </div>
    <div class="form-group">
        <label for="articleNumber">Artikelnummer</label>
        <input type="text"
               id="articleNumber"
               name="articleNumber"
               class="form-control"
               placeholder="Ange artikelnummer"
               required />
    </div>
    <div class="form-group">
        <label for="description">Beskrivning</label>
        <textarea typeof="text"
                  id="description"
                  name="description"
                  class="form-control"
                  rows="6"
                  required
                  maxlength="255">
</textarea>
    </div>
    <div class="form-group">
        <label for="categoryId">Kategori</label>
        <select id="categoryId" name="categoryId">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">
                    @category.Name
                </option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="price">Pris</label>
        <input type="number"
               id="price"
               name="price"
               class="form-control"
               placeholder="Ange pris"
               required
               maxlength="10" />
    </div>
    <div class="form-group">
        <label for="imageUrl">Bild</label>
        <input type="url"
               id="imageUrl"
               name="imageUrl"
               class="form-control"
               placeholder="Ange URL"
               maxlength="500" />
    </div>
    <button>Lägg till</button>
</form>