@page
@model HemTentan.Areas.Admin.Pages.ListProductsModel
@{
    ViewData["Title"] = "List Product";
}
<h2 class="col-12 px-3">Administration</h2>
<div class="col-12 px-3">Produkter</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 pt-3">
            <h6>Produkter</h6>
        </div>
        <div class="col-12 col-md-4"></div>
        <form method="get" class="col-12 col-md-2">
            <input  name="q" type="search" placeholder="Sök produkt"  />
        </form>
        <div class="col-12 col-md-2">
            <a href="/Admin/AddProduct" class="btn btn-primary">Ny produkt</a>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Artnr</th>
            <th scope="col">Produkt</th>
            <th scope="col">Kategori</th>
            <th scope="col">Pris</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.ArticleNumber</td>
                <td>@product.Name</td>
                @foreach (var productCategory in product.ProductCategories)
                {
                    <td>
                        @productCategory.Category.Name
                    </td>
                }
                <td>@product.Price</td>

            </tr>
        }
    </tbody>
</table>
