@model  List<HemTentan.Entities.Product>
    <div class="container">
        <div class="col-12 text-center mt-2 mb-2" style="font-size:25px;">Populära produkter</div>
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-3">
                    <a asp-route="productBySlug" asp-route-urlSlug="@product.UrlSlug">
                        <img class="w-100" style="display:block; font-size:100px; width:100%;" src="@product.ImageUrl" alt="Image" />
                    </a>
                    <div>@product.Name</div>
                    <div>@product.Price PKR</div>
                </div>
            }
        </div>
    </div>